In [1]:
import pandas as pd
from datetime import date, timedelta
import json

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
state = 'Ohio'
state_fips = '39'
today = str(date.today())
print("Today's date:", today)

cnty_join = pd.read_csv('../data/tl_2019_us_county.csv',dtype={'STATEFP':str,'COUNTYFP':str,'GEOID':str})
cnty_join = cnty_join.loc[cnty_join['STATEFP'] == state_fips]
cnty_join = cnty_join[['STATEFP','GEOID','NAMELSAD']]

cnty_join['NAMELSAD'] = cnty_join['NAMELSAD'].str.replace(' County','')

case_data = pd.read_csv('../../data/case-data/oh/20200417-ohio-COVIDSummaryData.csv',thousands=',')
state_cases = case_data
state_cases['date'] = pd.to_datetime(state_cases['Onset Date'], format='%m/%d/%Y', errors='coerce')
state_cases = state_cases.merge(cnty_join,how='left',left_on='County',right_on='NAMELSAD')

cases_by_day = state_cases.groupby('date').agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
most_recent = cases_by_day.sort_values('date',ascending=False).iloc[0]
most_recent_date = most_recent['date']

print('Total cases reported for',state,':',cases_by_day['Case Count'].sum())
print('Total deaths reported for',state,':',cases_by_day['Death Count'].sum())
print('Most recent case confirmation date:',most_recent_date)
display(cases_by_day)

Today's date: 2020-04-17
Total cases reported for Ohio : 9107
Total deaths reported for Ohio : 418
Most recent case confirmation date: 2020-04-17 00:00:00

         date  Case Count  Death Count
0  2020-02-12           1            0
1  2020-02-15           2            0
2  2020-02-16           1            0
3  2020-02-20           1            0
4  2020-02-21           2            0
5  2020-02-23           1            0
6  2020-02-24           1            0
7  2020-02-25           4            0
8  2020-02-26           2            0
9  2020-02-27           1            0
10 2020-02-28           5            0
11 2020-02-29           7            1
12 2020-03-01          15            0
13 2020-03-02           9            0
14 2020-03-03          12            2
15 2020-03-04          14            1
16 2020-03-05           7            1
17 2020-03-06          28            0
18 2020-03-07          25            0
19 2020-03-08          35            2
20 2020-03-09          52            3
21 2020-03-10          61            2
22 2020-03-11          62            4
23 2020-03-12          71            2
24 2020-03-13         126            2
25 2020-03-14         105            4
26 2020-03-15         149            5
27 2020-03-16         209           13
28 2020-03-17         237           15
29 2020-03-18         202           12
30 2020-03-19         168            4
31 2020-03-20         259           20
32 2020-03-21         188            8
33 2020-03-22         179           12
34 2020-03-23         298           21
35 2020-03-24         235           12
36 2020-03-25         271           17
37 2020-03-26         253           18
38 2020-03-27         296           14
39 2020-03-28         299           22
40 2020-03-29         238           20
41 2020-03-30         314           18
42 2020-03-31         272           15
43 2020-04-01         316           12
44 2020-04-02         273           13
45 2020-04-03         322           16
46 2020-04-04         226            7
47 2020-04-05         205           19
48 2020-04-06         313           16
49 2020-04-07         272           15
50 2020-04-08         245           10
51 2020-04-09         248            7
52 2020-04-10         235           11
53 2020-04-11         246            7
54 2020-04-12         239            4
55 2020-04-13         328            7
56 2020-04-14         419            3
57 2020-04-15         337            1
58 2020-04-16         162            0
59 2020-04-17           4            0

## County + day dataset

In addition to the above cases per county per day, we need to record county + days that have no cases or deaths so we can get a good time series.

In [3]:
covid_start = date(2020, 1, 21)   # start date
delta = most_recent_date.date() - covid_start       # as timedelta
delta

days = []
for i in range(delta.days + 1):
    day = covid_start + timedelta(days=i)
    days.append(day)
    
fullDateTime = pd.DataFrame(columns=['date','fips','county'])
for day in days:
    for index, row in cnty_join.iterrows():
        fullDateTime = fullDateTime.append({'date': day, 
                                            'fips': row['GEOID'], 
                                            'county': row['NAMELSAD']}, ignore_index=True)

fullDateTime['date'] = pd.to_datetime(fullDateTime['date'], format='%Y-%m-%d', errors='coerce')

fullDateTime['date_str'] = fullDateTime['date'].dt.strftime('%Y-%m-%d')
fullDateTime['join_field'] = fullDateTime['date_str'] + '-' + fullDateTime['fips']

by_county = state_cases.groupby(['GEOID','date']).agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
by_county['date_str'] = by_county['date'].dt.strftime('%Y-%m-%d')
by_county['join_field'] = by_county['date_str'] + '-' + by_county['GEOID']

fullDT_joined = fullDateTime.merge(by_county,how='left',on='join_field')
fullDT_joined = fullDT_joined.fillna(0)

#do this after you merge to ery day, ery county
fullDT_joined = fullDT_joined.sort_values(['fips','date_x'])
fullDT_joined['cases'] = fullDT_joined.groupby('fips')['Case Count'].transform(pd.Series.cumsum)
fullDT_joined['deaths'] = fullDT_joined.groupby('fips')['Death Count'].transform(pd.Series.cumsum)

fullDT_joined = fullDT_joined[['date_x','fips','county','cases','deaths']]
fullDT_joined.rename(columns={'date_x':'date'}, inplace=True)

fullDT_joined.to_csv('../app/ohio/data/archive/'+str(today)+'-'+state+'-export.csv',index=False)

In [4]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['cases'].sum()

9107.0

In [5]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['deaths'].sum()

418.0