In [1]:
import pandas as pd
from datetime import date, timedelta
import json

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
state = 'Ohio'
state_fips = '39'
today = str(date.today())
print("Today's date:", today)

cnty_join = pd.read_csv('../data/tl_2019_us_county.csv',dtype={'STATEFP':str,'COUNTYFP':str,'GEOID':str})
cnty_join = cnty_join.loc[cnty_join['STATEFP'] == state_fips]
cnty_join = cnty_join[['STATEFP','GEOID','NAMELSAD']]

cnty_join['NAMELSAD'] = cnty_join['NAMELSAD'].str.replace(' County','')

case_data = pd.read_csv('../../data/case-data/oh/20200422-ohio-COVIDSummaryData.csv',thousands=',')
state_cases = case_data
state_cases['date'] = pd.to_datetime(state_cases['Onset Date'], format='%m/%d/%Y', errors='coerce')
state_cases = state_cases.merge(cnty_join,how='left',left_on='County',right_on='NAMELSAD')

cases_by_day = state_cases.groupby('date').agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
most_recent = cases_by_day.sort_values('date',ascending=False).iloc[0]
most_recent_date = most_recent['date']

print('Total cases reported for',state,':',cases_by_day['Case Count'].sum())
print('Total deaths reported for',state,':',cases_by_day['Death Count'].sum())
print('Most recent case confirmation date:',most_recent_date)
display(cases_by_day)

Today's date: 2020-04-22
Total cases reported for Ohio : 14117
Total deaths reported for Ohio : 610
Most recent case confirmation date: 2020-04-21 00:00:00

         date  Case Count  Death Count
0  2020-02-12           1            0
1  2020-02-15           2            0
2  2020-02-16           2            0
3  2020-02-19           1            0
4  2020-02-20           1            0
5  2020-02-21           2            0
6  2020-02-23           1            0
7  2020-02-24           1            0
8  2020-02-25           4            0
9  2020-02-26           2            0
10 2020-02-27           1            0
11 2020-02-28           6            0
12 2020-02-29           7            1
13 2020-03-01          16            0
14 2020-03-02           9            0
15 2020-03-03          13            2
16 2020-03-04          14            1
17 2020-03-05           7            1
18 2020-03-06          28            0
19 2020-03-07          27            0
20 2020-03-08          35            2
21 2020-03-09          52            3
22 2020-03-10          63            2
23 2020-03-11          66            4
24 2020-03-12          73            2
25 2020-03-13         128            3
26 2020-03-14         109            5
27 2020-03-15         149            5
28 2020-03-16         222           13
29 2020-03-17         248           15
30 2020-03-18         209           14
31 2020-03-19         180            4
32 2020-03-20         262           22
33 2020-03-21         196            7
34 2020-03-22         193           18
35 2020-03-23         311           24
36 2020-03-24         246           13
37 2020-03-25         282           21
38 2020-03-26         265           21
39 2020-03-27         315           17
40 2020-03-28         306           30
41 2020-03-29         251           21
42 2020-03-30         327           26
43 2020-03-31         280           22
44 2020-04-01         338           19
45 2020-04-02         287           16
46 2020-04-03         343           22
47 2020-04-04         239           13
48 2020-04-05         233           25
49 2020-04-06         341           21
50 2020-04-07         303           25
51 2020-04-08         281           19
52 2020-04-09         286           14
53 2020-04-10         299           16
54 2020-04-11         313           15
55 2020-04-12         317           11
56 2020-04-13         392           23
57 2020-04-14         459           15
58 2020-04-15         429           14
59 2020-04-16        2043           11
60 2020-04-17        1568            6
61 2020-04-18         299            3
62 2020-04-19         152            2
63 2020-04-20         176            0
64 2020-04-21         106            1

## County + day dataset

In addition to the above cases per county per day, we need to record county + days that have no cases or deaths so we can get a good time series.

In [3]:
covid_start = date(2020, 1, 21)   # start date
delta = most_recent_date.date() - covid_start       # as timedelta
delta

days = []
for i in range(delta.days + 1):
    day = covid_start + timedelta(days=i)
    days.append(day)
    
fullDateTime = pd.DataFrame(columns=['date','fips','county'])
for day in days:
    for index, row in cnty_join.iterrows():
        fullDateTime = fullDateTime.append({'date': day, 
                                            'fips': row['GEOID'], 
                                            'county': row['NAMELSAD']}, ignore_index=True)

fullDateTime['date'] = pd.to_datetime(fullDateTime['date'], format='%Y-%m-%d', errors='coerce')

fullDateTime['date_str'] = fullDateTime['date'].dt.strftime('%Y-%m-%d')
fullDateTime['join_field'] = fullDateTime['date_str'] + '-' + fullDateTime['fips']

by_county = state_cases.groupby(['GEOID','date']).agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
by_county['date_str'] = by_county['date'].dt.strftime('%Y-%m-%d')
by_county['join_field'] = by_county['date_str'] + '-' + by_county['GEOID']

fullDT_joined = fullDateTime.merge(by_county,how='left',on='join_field')
fullDT_joined = fullDT_joined.fillna(0)

#do this after you merge to ery day, ery county
fullDT_joined = fullDT_joined.sort_values(['fips','date_x'])
fullDT_joined['cases'] = fullDT_joined.groupby('fips')['Case Count'].transform(pd.Series.cumsum)
fullDT_joined['deaths'] = fullDT_joined.groupby('fips')['Death Count'].transform(pd.Series.cumsum)

fullDT_joined = fullDT_joined[['date_x','fips','county','cases','deaths']]
fullDT_joined.rename(columns={'date_x':'date'}, inplace=True)

fullDT_joined.to_csv('../app/ohio/data/archive/'+str(today)+'-'+state+'-export.csv',index=False)

In [4]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['cases'].sum()

14117.0

In [5]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['deaths'].sum()

610.0