In [1]:
import pandas as pd
from datetime import date, timedelta
import json

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
state = 'Ohio'
state_fips = '39'
today = str(date.today())
print("Today's date:", today)

cnty_join = pd.read_csv('../data/tl_2019_us_county.csv',dtype={'STATEFP':str,'COUNTYFP':str,'GEOID':str})
cnty_join = cnty_join.loc[cnty_join['STATEFP'] == state_fips]
cnty_join = cnty_join[['STATEFP','GEOID','NAMELSAD']]

cnty_join['NAMELSAD'] = cnty_join['NAMELSAD'].str.replace(' County','')

case_data = pd.read_csv('../../data/case-data/oh/20200403-ohio-COVIDSummaryData.csv',thousands=',')
state_cases = case_data
state_cases['date'] = pd.to_datetime(state_cases['Onset Date'], format='%m/%d/%Y', errors='coerce')
state_cases = state_cases.merge(cnty_join,how='left',left_on='County',right_on='NAMELSAD')

cases_by_day = state_cases.groupby('date').agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
most_recent = cases_by_day.sort_values('date',ascending=False).iloc[0]
most_recent_date = most_recent['date']

print('Total cases reported for',state,':',cases_by_day['Case Count'].sum())
print('Total deaths reported for',state,':',cases_by_day['Death Count'].sum())
print('Most recent case confirmation date:',most_recent_date)
display(cases_by_day)

Today's date: 2020-04-03
Total cases reported for Ohio : 3312
Total deaths reported for Ohio : 91
Most recent case confirmation date: 2020-04-02 00:00:00

         date  Case Count  Death Count
0  2020-02-16           1            0
1  2020-02-20           1            0
2  2020-02-21           2            0
3  2020-02-23           1            0
4  2020-02-25           2            0
5  2020-02-26           1            0
6  2020-02-27           1            0
7  2020-02-28           3            0
8  2020-02-29           5            0
9  2020-03-01           6            0
10 2020-03-02           7            0
11 2020-03-03          10            2
12 2020-03-04          12            0
13 2020-03-05           5            1
14 2020-03-06          22            0
15 2020-03-07          17            0
16 2020-03-08          29            2
17 2020-03-09          39            2
18 2020-03-10          44            1
19 2020-03-11          54            3
20 2020-03-12          52            1
21 2020-03-13          89            1
22 2020-03-14          82            2
23 2020-03-15         112            0
24 2020-03-16         165           11
25 2020-03-17         194            6
26 2020-03-18         162            8
27 2020-03-19         123            2
28 2020-03-20         197           12
29 2020-03-21         124            2
30 2020-03-22         110            7
31 2020-03-23         174            5
32 2020-03-24         133            4
33 2020-03-25         168            5
34 2020-03-26         147            5
35 2020-03-27         174            0
36 2020-03-28         157            5
37 2020-03-29         106            0
38 2020-03-30         193            2
39 2020-03-31         186            2
40 2020-04-01         166            0
41 2020-04-02          36            0

## County + day dataset

In addition to the above cases per county per day, we need to record county + days that have no cases or deaths so we can get a good time series.

In [4]:
covid_start = date(2020, 1, 21)   # start date
delta = most_recent_date.date() - covid_start       # as timedelta
delta

days = []
for i in range(delta.days + 1):
    day = covid_start + timedelta(days=i)
    days.append(day)
    
fullDateTime = pd.DataFrame(columns=['date','fips','county'])
for day in days:
    for index, row in cnty_join.iterrows():
        fullDateTime = fullDateTime.append({'date': day, 
                                            'fips': row['GEOID'], 
                                            'county': row['NAMELSAD']}, ignore_index=True)

fullDateTime['date'] = pd.to_datetime(fullDateTime['date'], format='%Y-%m-%d', errors='coerce')

fullDateTime['date_str'] = fullDateTime['date'].dt.strftime('%Y-%m-%d')
fullDateTime['join_field'] = fullDateTime['date_str'] + '-' + fullDateTime['fips']

by_county = state_cases.groupby(['GEOID','date']).agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
by_county['date_str'] = by_county['date'].dt.strftime('%Y-%m-%d')
by_county['join_field'] = by_county['date_str'] + '-' + by_county['GEOID']

fullDT_joined = fullDateTime.merge(by_county,how='left',on='join_field')
fullDT_joined = fullDT_joined.fillna(0)

#do this after you merge to ery day, ery county
fullDT_joined = fullDT_joined.sort_values(['fips','date_x'])
fullDT_joined['cases'] = fullDT_joined.groupby('fips')['Case Count'].transform(pd.Series.cumsum)
fullDT_joined['deaths'] = fullDT_joined.groupby('fips')['Death Count'].transform(pd.Series.cumsum)

fullDT_joined = fullDT_joined[['date_x','fips','county','cases','deaths']]
fullDT_joined.rename(columns={'date_x':'date'}, inplace=True)

fullDT_joined.to_csv('../app/assets/data/'+str(today)+'-'+state+'-export.csv',index=False)

In [5]:
fullDT_joined.loc[fullDT_joined['date'] == '2020-04-01']['cases'].sum()

3276.0

In [6]:
fullDT_joined.loc[fullDT_joined['date'] == '2020-03-30']['deaths'].sum()

89.0

In [9]:
max_date = fullDT_joined['date'].max()
fullDT_joined.loc[fullDT_joined['date'] == max_date].sort_values('cases',ascending=False)

           date   fips      county  cases  deaths
6412 2020-04-02  39035    Cuyahoga  780.0    13.0
6406 2020-04-02  39049    Franklin  503.0     5.0
6372 2020-04-02  39095       Lucas  233.0     4.0
6393 2020-04-02  39061    Hamilton  220.0     2.0
6377 2020-04-02  39099    Mahoning  203.0    12.0
6417 2020-04-02  39153      Summit  165.0     7.0
6385 2020-04-02  39093      Lorain   95.0     2.0
6376 2020-04-02  39151       Stark   79.0     4.0
6419 2020-04-02  39103      Medina   72.0     1.0
6350 2020-04-02  39155    Trumbull   72.0     7.0
6338 2020-04-02  39085        Lake   66.0     3.0
6342 2020-04-02  39133     Portage   65.0     3.0
6367 2020-04-02  39109       Miami   64.0     8.0
6368 2020-04-02  39041    Delaware   61.0     1.0
6390 2020-04-02  39113  Montgomery   57.0     2.0
6340 2020-04-02  39017      Butler   49.0     1.0
6416 2020-04-02  39089     Licking   41.0     1.0
6392 2020-04-02  39055      Geauga   35.0     0.0
6414 2020-04-02  39045   Fairfield   32.0     0.0
6413 2020-04-02  39165      Warren   31.0     0.0
6395 2020-04-02  39029  Columbiana   28.0     3.0
6369 2020-04-02  39037       Darke   26.0     1.0
6408 2020-04-02  39173        Wood   20.0     0.0
6362 2020-04-02  39169       Wayne   18.0     0.0
6378 2020-04-02  39157  Tuscarawas   17.0     0.0
6402 2020-04-02  39025    Clermont   16.0     1.0
6388 2020-04-02  39081   Jefferson   14.0     0.0
6397 2020-04-02  39013     Belmont   13.0     0.0
6337 2020-04-02  39003       Allen   13.0     0.0
6358 2020-04-02  39129    Pickaway   13.0     0.0
6400 2020-04-02  39097     Madison   12.0     2.0
6381 2020-04-02  39101      Marion   11.0     0.0
6360 2020-04-02  39139    Richland   10.0     0.0
6373 2020-04-02  39007   Ashtabula    9.0     0.0
6370 2020-04-02  39057      Greene    9.0     1.0
6336 2020-04-02  39063     Hancock    9.0     0.0
6421 2020-04-02  39031   Coshocton    8.0     0.0
6384 2020-04-02  39027     Clinton    7.0     0.0
6418 2020-04-02  39149      Shelby    7.0     0.0
6365 2020-04-02  39023       Clark    7.0     0.0
6355 2020-04-02  39033    Crawford    7.0     0.0
6423 2020-04-02  39107      Mercer    6.0     0.0
6386 2020-04-02  39039    Defiance    6.0     0.0
6415 2020-04-02  39083        Knox    6.0     1.0
6383 2020-04-02  39043        Erie    6.0     1.0
6363 2020-04-02  39123      Ottawa    5.0     0.0
6396 2020-04-02  39019     Carroll    5.0     0.0
6407 2020-04-02  39077       Huron    5.0     1.0
6411 2020-04-02  39159       Union    5.0     0.0
6391 2020-04-02  39011    Auglaize    5.0     0.0
6389 2020-04-02  39143    Sandusky    5.0     0.0
6353 2020-04-02  39087    Lawrence    4.0     0.0
6420 2020-04-02  39053      Gallia    4.0     1.0
6398 2020-04-02  39141        Ross    4.0     0.0
6409 2020-04-02  39147      Seneca    4.0     1.0
6399 2020-04-02  39167  Washington    4.0     0.0
6379 2020-04-02  39071    Highland    4.0     0.0
6361 2020-04-02  39021   Champaign    4.0     0.0
6371 2020-04-02  39005     Ashland    3.0     0.0
6387 2020-04-02  39009      Athens    3.0     1.0
6359 2020-04-02  39119   Muskingum    3.0     0.0
6349 2020-04-02  39091       Logan    3.0     0.0
6347 2020-04-02  39051      Fulton    3.0     0.0
6374 2020-04-02  39135      Preble    3.0     0.0
6357 2020-04-02  39161    Van Wert    2.0     0.0
6422 2020-04-02  39175     Wyandot    2.0     0.0
6382 2020-04-02  39127       Perry    2.0     0.0
6348 2020-04-02  39015       Brown    2.0     1.0
6351 2020-04-02  39131        Pike    1.0     0.0
6410 2020-04-02  39171    Williams    1.0     0.0
6339 2020-04-02  39047     Fayette    1.0     0.0
6356 2020-04-02  39059    Guernsey    1.0     0.0
6401 2020-04-02  39065      Hardin    1.0     0.0
6394 2020-04-02  39075      Holmes    1.0     0.0
6380 2020-04-02  39117      Morrow    1.0     0.0
6352 2020-04-02  39111      Monroe    0.0     0.0
6405 2020-04-02  39105       Meigs    0.0     0.0
6375 2020-04-02  39079     Jackson    0.0     0.0
6341 2020-04-02  39115      Morgan    0.0     0.0
6366 2020-04-02  39073     Hocking    0.0     0.0
6346 2020-04-02  39069       Henry    0.0     0.0
6364 2020-04-02  39067    Harrison    0.0     0.0
6344 2020-04-02  39163      Vinton    0.0     0.0
6343 2020-04-02  39145      Scioto    0.0     0.0
6403 2020-04-02  39121       Noble    0.0     0.0
6345 2020-04-02  39125    Paulding    0.0     0.0
6404 2020-04-02  39137      Putnam    0.0     0.0
6354 2020-04-02  39001       Adams    0.0     0.0