In [1]:
import pandas as pd
from datetime import date, timedelta
import json

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
state = 'Ohio'
state_fips = '39'
today = str(date.today())
print("Today's date:", today)

cnty_join = pd.read_csv('../data/tl_2019_us_county.csv',dtype={'STATEFP':str,'COUNTYFP':str,'GEOID':str})
cnty_join = cnty_join.loc[cnty_join['STATEFP'] == state_fips]
cnty_join = cnty_join[['STATEFP','GEOID','NAMELSAD']]

cnty_join['NAMELSAD'] = cnty_join['NAMELSAD'].str.replace(' County','')

case_data = pd.read_csv('../../data/case-data/oh/20200414-ohio-COVIDSummaryData.csv',thousands=',')
state_cases = case_data
state_cases['date'] = pd.to_datetime(state_cases['Onset Date'], format='%m/%d/%Y', errors='coerce')
state_cases = state_cases.merge(cnty_join,how='left',left_on='County',right_on='NAMELSAD')

cases_by_day = state_cases.groupby('date').agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
most_recent = cases_by_day.sort_values('date',ascending=False).iloc[0]
most_recent_date = most_recent['date']

print('Total cases reported for',state,':',cases_by_day['Case Count'].sum())
print('Total deaths reported for',state,':',cases_by_day['Death Count'].sum())
print('Most recent case confirmation date:',most_recent_date)
display(cases_by_day)

Today's date: 2020-04-14
Total cases reported for Ohio : 7280
Total deaths reported for Ohio : 324
Most recent case confirmation date: 2020-04-13 00:00:00

         date  Case Count  Death Count
0  2020-02-12           1            0
1  2020-02-15           2            0
2  2020-02-16           1            0
3  2020-02-20           1            0
4  2020-02-21           2            0
5  2020-02-23           1            0
6  2020-02-24           1            0
7  2020-02-25           4            0
8  2020-02-26           2            0
9  2020-02-27           1            0
10 2020-02-28           5            0
11 2020-02-29           7            1
12 2020-03-01          14            0
13 2020-03-02           8            0
14 2020-03-03          12            2
15 2020-03-04          14            1
16 2020-03-05           6            1
17 2020-03-06          28            0
18 2020-03-07          23            0
19 2020-03-08          34            2
20 2020-03-09          51            3
21 2020-03-10          56            2
22 2020-03-11          58            4
23 2020-03-12          70            2
24 2020-03-13         119            2
25 2020-03-14         104            5
26 2020-03-15         147            4
27 2020-03-16         199           13
28 2020-03-17         229           15
29 2020-03-18         196           11
30 2020-03-19         161            4
31 2020-03-20         256           18
32 2020-03-21         177            7
33 2020-03-22         167           13
34 2020-03-23         294           16
35 2020-03-24         226           11
36 2020-03-25         261           13
37 2020-03-26         246           14
38 2020-03-27         289           12
39 2020-03-28         278           19
40 2020-03-29         220           16
41 2020-03-30         296           13
42 2020-03-31         271           14
43 2020-04-01         292           11
44 2020-04-02         249           10
45 2020-04-03         306            9
46 2020-04-04         214            5
47 2020-04-05         184            9
48 2020-04-06         276           11
49 2020-04-07         242           12
50 2020-04-08         222            7
51 2020-04-09         196            4
52 2020-04-10         181            5
53 2020-04-11         195            1
54 2020-04-12         104            2
55 2020-04-13          81            0

## County + day dataset

In addition to the above cases per county per day, we need to record county + days that have no cases or deaths so we can get a good time series.

In [3]:
covid_start = date(2020, 1, 21)   # start date
delta = most_recent_date.date() - covid_start       # as timedelta
delta

days = []
for i in range(delta.days + 1):
    day = covid_start + timedelta(days=i)
    days.append(day)
    
fullDateTime = pd.DataFrame(columns=['date','fips','county'])
for day in days:
    for index, row in cnty_join.iterrows():
        fullDateTime = fullDateTime.append({'date': day, 
                                            'fips': row['GEOID'], 
                                            'county': row['NAMELSAD']}, ignore_index=True)

fullDateTime['date'] = pd.to_datetime(fullDateTime['date'], format='%Y-%m-%d', errors='coerce')

fullDateTime['date_str'] = fullDateTime['date'].dt.strftime('%Y-%m-%d')
fullDateTime['join_field'] = fullDateTime['date_str'] + '-' + fullDateTime['fips']

by_county = state_cases.groupby(['GEOID','date']).agg({'Case Count':'sum','Death Count':'sum'}).reset_index()
by_county['date_str'] = by_county['date'].dt.strftime('%Y-%m-%d')
by_county['join_field'] = by_county['date_str'] + '-' + by_county['GEOID']

fullDT_joined = fullDateTime.merge(by_county,how='left',on='join_field')
fullDT_joined = fullDT_joined.fillna(0)

#do this after you merge to ery day, ery county
fullDT_joined = fullDT_joined.sort_values(['fips','date_x'])
fullDT_joined['cases'] = fullDT_joined.groupby('fips')['Case Count'].transform(pd.Series.cumsum)
fullDT_joined['deaths'] = fullDT_joined.groupby('fips')['Death Count'].transform(pd.Series.cumsum)

fullDT_joined = fullDT_joined[['date_x','fips','county','cases','deaths']]
fullDT_joined.rename(columns={'date_x':'date'}, inplace=True)

fullDT_joined.to_csv('../app/assets/data/'+str(today)+'-'+state+'-export.csv',index=False)

In [ ]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['cases'].sum()

In [ ]:
fullDT_joined.loc[fullDT_joined['date'] == most_recent_date]['deaths'].sum()